body {
    background-color: powderblue;
    width: 75%;
    margin: auto;
}

.boton {
    border: 1px solid black;
    padding: 8px;
    background-color: green;
    color: white;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 30px;
}


.boton_cerrar {
    border: 1px solid black;
    padding: 8px;
    background-color: red;
    color: white;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 30px;
}

main {
    width: 85%;
    margin: auto;
}

head {
    background-color: black;
}

h1 {
    color: black;
}

h2 {
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#iconoHeader {
    background-color: black;
    padding: 3px;
    width: 280px;
}

.tablaObjeto {
    border-spacing: 20px;
    border-style: solid;
    border-color: black;
    table-layout: fixed;
    border-collapse: separate;
    margin-left: 5px;
}

.tablaListas {
    width: 100%;
}

#fotoPerfil {
    background-color: black;
    padding: 3px;
    float: right;
}

.celdaIconos {
    text-align: center;
    width: 110px;
}

th {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    text-align: left;
}

td {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    text-align: left;
}

.formularios {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
}

#iconoWA {
    height: 65px;
    width: 65px;
    float: left;
}

#iconoDetalles {
    height: 30px;
    width: 30px;
}

#iconoModificar {
    height: 30px;
    width: 30px;
}

#iconoBorrar {
    height: 30px;
    width: 30px;
}

#iconoAnotar {
    height: 30px;
    width: 30px;
}

#iconoMail {
    height: 60px;
    width: 60px;
}

.iconoOK {
    height: 50px;
    width: 50px;
}

.iconoAtras {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 8px;
}

#iconoTareas {
    height: 30px;
    width: 30px;
}

.iconoNOTOK {
    height: 50px;
    width: 50px;
}

header {
    background-color: 339fff;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    height: auto;
}

nav {
    background-color: white;
    padding: 8px;
    width: auto;
    letter-spacing: 1px;
    justify-content: space-evenly;
    display: flex;
}

article {
    height: auto;
    width: auto;
    padding-left: 3x;
    padding-right: 3px;
    float: none;
}

.seccionesPortada {
    background-color: powderblue;
    display: inline-block
}

.textoPortada {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#imagenProyectos {
    width: 600px;
    height: 300px;
    background-color: black;
    padding: 2px;
    display: block;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
}

#imagenClientes {
    width: 370px;
    height: 250px;
    background-color: black;
    padding: 2px;
    margin-left: 8px;
    margin-right: 8px;
}

#imagenEmpleados {
    width: 370px;
    height: 250px;
    background-color: black;
    padding: 2px;
    margin-left: 8px;
    margin-right: 8px;
}

a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .4s;
}

a:hover,
a:focus {
    background-size: 100% 2px;
}

footer {
    background-color: 339fff;
    position: absolute;
    width: 75%;
    text-align: right;
    font-style: italic;
    margin-top: 15px;
}
