{% extends "index.html" %}

{% block contenido %}

<table>
    <tr>
        <td>DNI</td>
        <td>{{ empleado.dni }}</td>
    </tr>
    <tr>
        <td>Nombre</td>
        <td>{{ empleado.nombre }}</td>
    </tr>
    <tr>
        <td>Primer apellido </td>
        <td>{{ empleado.apellido1}}</td>
    </tr>
    <tr>
        <td>Segundo apellido</td>
        <td>{{ empleado.apellido2 }}</td>
    </tr>
    <tr>
        <td>e-Mail</td>
        <td>{{ empleado.email }}</td>
    </tr>
    <tr>
        <td>Teléfono</td>
        <td>{{ empleado.telefono }}</td>
    </tr>
</table>
{% endblock %}
