{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="icon" type="png" href="{% static 'img/Icon.jpg' %}" />
    <title>Deustotil Tech SL</title>
</head>
<body>
    <header>
        <h1>Bienvenido a Deustotil Tech SL</h1>
        <img id="iconoHeader" src="{% static 'img/headerIcon.jpg' %}">
        <h2>Tu empresa TIC de confianza</h2>
        <nav>
            <flexbox></flexbox>
            <a href="{% url 'home' %}">Inicio</a>
            <a href="{% url 'lista_proyectos' %}">Nuestros Proyectos</a>
            <a href="{% url 'lista_tareas' %}">Tareas</a>
            <a href="{% url 'lista_clientes' %}">Nuestros Clientes</a>
            <a href="{% url 'lista_empleados' %}">Nuestra Plantilla</a>
        </nav>
    </header>

    <main>
        <h2>{{ titulo_pagina }}</h2>
        {% block contenido %}
        {% endblock %}
    </main>
    <footer>
        <p>© 2019-2020 Deustotil Tech SL Todos los derechos reservados.</p>
    </footer>
</body>
</html>
