{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="icon" type="png" href="{% static 'img/Icon.jpg' %}" />
    <title>Deustotil Tech SL</title>
</head>
<body>
    <header>
        <h1>Bienvenido a Deustotil Tech SL</h1>
        <img id="iconoHeader" src="{% static 'img/headerIcon.jpg' %}">
        <h2>Tu empresa TIC de confianza</h2>
        <nav>
            <flexbox></flexbox>
        <select id="seleccion_Elemento" class="custom-select custom-select-lg mb-3">
          <option value="" selected disabled>Selecciona un elemento</option>
          <option value="Proyectos">Proyectos</option>
          <option value="Tareas">Tareas</option>
          <option value="Empleados">Empleados</option>
          <option value="Clientes">Clientes</option>
        </select>
        </nav>
    </header>
    <main>
        <section>
      <div>
        <h2 id="elemento"></h2>
        <ul id="list" class="list-group"></ul>
        </section>
    </div>
    <script src="listar_empleados.js"></script>
    </main>
    <footer>
        <p>© 2019-2020 Deustotil Tech SL Todos los derechos reservados.</p>
    </footer>
</body>
</html>
