{% extends 'index.html' %}
{% load static %}
{% block contenido %}
<table class="tablaListas">
    <thead>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for empleado in empleado_list %}
        <tr>
            <td>{{ empleado.dni}}</td>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.apellido1 }}</td>
            <td><a href="{% url 'empleado' empleado.id %}"><img id="iconoDetalles" src="{% static 'img/iconoDetalles.png' %}"></a>
            <a href="{% url 'eliminar_empleado' empleado.id %}"><img id="iconoBorrar" src="{% static 'img/iconoBorrar.png' %}"></a>
            <a href="{% url 'modificar_empleado' empleado.id %}"><img id="iconoModificar" src="{% static 'img/iconoModificar.png' %}"></a>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>

<a class="boton" href="{% url 'nuevo_empleado' %}">Crear empleado</a>


{% endblock %}
