{% extends 'index.html' %}
{% load static %}
{% block contenido %}

<div id="tareas"></div>

<br>
<script src="{% static 'js/listar_tareas.js'%}"></script>
<div id="boton">
        <a class="boton" href="javascript:mostrarForm()" style='cursor: pointer;'>Crear Tarea</a>
</div>
<div id="boton_cerrar" style="display:none">
<a class="boton_cerrar" href="javascript:cerrarForm();" style='cursor: pointer;'>Cerrar Formulario</a>
</div>

<br>
<br>

<div id="formulario" style="display:none" >
    <form method="POST">
    {% csrf_token %}
            <input type="text" placeholder="Nombre" name="nombre_empresa" id="nombre_empresa">
            <input type="date" placeholder="Fecha Inicio" name="fecha_inicio" id="fecha_inicio">
            <input type="date" placeholder="Fecha Fin" name="fecha_fin" id="fecha_fin">
            <input type="text" placeholder="Descripcion" name="descripcion" id="descripcion">
            <input type="text" placeholder="Responsable" name="Responsable" id="Responsable"><a> Prioridad</a>
            <select id="prioridad">
                <option value="Ninguna">Ninguna</option>
                <option value="Baja">Baja</option>
                <option value="Media">Media</option>
                <option value="Alta">Alta</option>
                <option value="Urgente">Urgente</option>
            </select><a> Estado</a>
            <select id="estado">
                <option value="Abierta">Abierta</option>
                <option value="Asignada">Asignada</option>
                <option value="En Proceso">En proceso</option>
                <option value="Cerrada">Cerrada</option>
            </select>
            <input type="text" placeholder="Nota adicional" name="nota_adicional" id="Nota adicional">
            <input id="btn-nuevo-cliente" type="submit" value="Guardar">
    </form>
</div>

<script src="{% static 'js/listar_tareas.js'%}"></script>


{% endblock %}
