{% extends 'index.html' %}
{% load static %}
{% block contenido %}


<h2>Empleados</h2>

<div id="empleados"></div>
<script src="{% static 'js/listar_empleados.js'%}"></script>

<br>
<script src="{% static 'js/listar_clientes.js'%}"></script>
<div id="boton">
        <a class="boton" href="javascript:mostrarForm()" style='cursor: pointer;'>Crear Empleado</a>
</div>
<div id="boton_cerrar" style="display:none">
<a class="boton_cerrar" href="javascript:cerrarForm();" style='cursor: pointer;'>Cerrar Formulario</a>
</div>

<br>
<br>
<div id="formulario" style="display:none" >
<form method="POST">
    {% csrf_token %}
            <input type="text" placeholder="DNI" name="DNI" id="DNI"><a> Foto Perfil:</a>
            <input type="file" placeholder="Foto" name="foto_perfil" id="foto_perfil">
            <input type="text" placeholder="Nombre" name="nombre" id="nombre">
            <input type="text" placeholder="Primer Apellido" name="apellido1" id="apellido1">
            <input type="text" placeholder="Segundo Apellido" name="apellido2" id="apellido2">
            <input type="email" placeholder="eMail" name="email" id="email">
            <input type="number" placeholder="Telefono" name="telf" id="telf">
            <input id="btn-nuevo-cliente" type="submit" value="Guardar">
</form>
</div>
{% endblock %}
