{% extends 'index.html' %}

{% block contenido %}
<table>
    <thead>
        <tr>
            <th>Nombre de Tarea</th>
            <th>Descripcion</th>
            <th>Prioridad</th>
            <th>Responsable</th>
            <th>Mas acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for tarea in tarea_list %}
        <tr>
            <td>{{ tarea.nombre}}</td>
            <td>{{ tarea.descripcion }}</td>
            <td>{{ tarea.prioridad }}</td>
            <td>{{ tarea.responsable}}</td>
            <td><a href="{% url 'tarea' tarea.id %}">Detalles</a>
                <a href="{% url 'modificar_tarea' tarea.id %}">Modificar tarea</a>
                <a href="{% url 'escribir_nota' tarea.id %}">Ver notas</a>
                <a href="{% url 'eliminar_tarea' tarea.id %}">Eliminar tarea</a>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<a href="{% url 'nueva_tarea' %}">Añadir una tarea</a>


{% endblock %}
