{% extends 'index.html' %}
{% load static %}
{% block contenido %}
<table>
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Contacto</th>
            <th>Telefono</th>
            <th>Mas acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in cliente_list %}
        <tr>
            <td>{{ cliente.nombre_empresa}}</td>
            <td>{{ cliente.nombre_contacto }}</td>
            <td>{{ cliente.telf_cliente }}</td>
            <td class="celdaIconos"><a href="{% url 'cliente' cliente.id %}"><img id="iconoDetalles" src="{% static 'img/iconoDetalles.png' %}"></a>
            <a href="{% url 'modificar_cliente' cliente.id %}"><img id="iconoModificar" src="{% static 'img/iconoModificar.png' %}"></a>
            <a href="{% url 'eliminar_cliente' cliente.id %}"><img id="iconoBorrar" src="{% static 'img/iconoBorrar.png' %}"></a>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<a class="boton" href="{% url 'nuevo_cliente' %}">Crear cliente</a>


{% endblock %}
