{% extends "index.html" %}

{% block contenido %}

<table class="tablaObjeto">
    <tr>
        <td>Nombre:</td>
        <td>{{ proyecto.nombre }}</td>
    </tr>
    <tr>
        <td>Descripción:</td>
        <td>{{ proyecto.descripcion }}</td>
    </tr>
    <tr>
        <td>Fecha de Inicio:</td>
        <td>{{ proyecto.fecha_inicio}}</td>
    </tr>
    <tr>
        <td>Fecha de Fin:</td>
        <td>{{ proyecto.fecha_fin }}</td>
    </tr>
    <tr>
        <td>Presupuesto:</td>
        <td>{{ proyecto.presupuesto }}</td>
    </tr>
    <tr>
        <td>Cliente:</td>
        <td>{{ proyecto.cliente }}</td>
    </tr>
    <tr>
        <td>Tareas a Realizar:</td>
        <td>{{ proyecto.tareas_a_realizar.get }}</td>
    </tr>
        <tr>
        <td>Empleados que participan:</td>
        <td>{{ proyecto.empleados.get }}</td>
    </tr>
</table>

{% endblock %}
